.DS_Store
*.ini
~$*.xls*
track_creation/2019_MIS_endurance_manypoints.csv
track_creation/temp.txt
tw_wb/runs_I.csv
tw_wb/Slaloms_49ft_Spacing.png
tw_wb/Slaloms_37ft_Spacing.png
tw_wb/Slaloms_25ft_Spacing.png
tw_wb/skidpad.png
tw_wb/Autocross_MIS_2019.png
tw_wb/All-in-One.png
tw_wb/acceleration.png
tw_wb/acceleration.html
tw_wb/.ipynb_checkpoints/Track width and wheelbase study-checkpoint.ipynb
